body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

.tarot {
  background-image: './assets/bg.png';
}

#guestEdit .MuiFormControlLabel-root {
  min-width: 25%;
  max-width: 50%;
}
::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9d70b1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #602678;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #361344;
}
.card1 {
  position: absolute;
  background-repeat: repeat;
  will-change: transform;
}

.card1 {
  width: 200%;
  height: 100%;
  background-size: 100%;
  background-image: url(https://img.pngio.com/star-png-images-transparent-free-download-pngmartcom-transparent-stars-background-1680_480.png);
}

.containerbg {
  width: 3000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 14, 44);
  background-size: contain;
  background-repeat: repeat;
  opacity: 0.7;
  background-image: url(https://img.pngio.com/star-png-images-transparent-free-download-pngmartcom-transparent-stars-background-1680_480.png);
}

body {
  overflow: hidden;
}
.MuiAppBar-colorPrimary {
  background-color: rgb(26, 4, 32) !important;
}
.cardBack {
  background-image: url(https://img.pngio.com/star-png-images-transparent-free-download-pngmartcom-transparent-stars-background-1680_480.png);
  background-color: rgb(37, 14, 44);
}

.MuiInput-underline:after {
  border-bottom: 2px solid rgb(78, 24, 95) !important;
  border-radius: 4px;
}

.MuiInput-root {
  color: black !important;
}

#searchGuests {
  text-align: center;
  font-size: 24px !important;
}

.MuiDialogActions-root {
  border-top: 1px solid rgba(255, 255, 255, 0.37);
  padding: 8px 24px !important;
  background-color: rgb(37, 14, 44) !important;
}

.MuiTypography-colorTextSecondary {
  color: white;
}
.MuiDataGrid-root {
  opacity: 1 !important;
  background-color: white;
}
